/* Source: https://www.w3schools.com/howto/howto_js_snackbar.asp */

/* Die notificationBar - am unteren rechten Bildschirmrand platzieren */
#notificationBar {
    visibility: hidden; /* Standardmäßig unsichtbar */
    min-width: 300px; /* Standard für Mindestbreite */
    margin-left: -150px; /* Hälfte der Mindestbreite 2 */
    background-color: #e0e0e0; /* Grauer Hintergrund */
    color: #333; /* Schwarzer Text */
    text-align: center; /* Zentrierter Text */
    border-radius: 5px; /* Abgerundete Kanten */
    padding: 16px; /* Abstand */
    position: fixed; /* Im Vordergrund */
    z-index: 1;
    left: 85%; /* Am unteren-rechten Bildschrimrand positionieren */
    bottom: 10%; /* 10% Abstand vom unteren Rand, über scrollUp Button */
    font-size: smaller;
}

/* notificationBar anzeigen (Klasse in JavaScript -> eventManager.js) */
#notificationBar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

/* notificationBar verbergen (Klasse in Javascript -> eventManager.js) */
#notificationBar.hide {
    visibility: visible;

    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

/* X zum schließen der notificationBar */
#closeNotification {
    position: absolute;
    top: 1%;
    right: 2.5%;
    font-size: medium;
    font-weight: bold;
    color: #333;
    transition: all 200ms;
    cursor: pointer;
}

/* Animationen für Fade-in und Fade-out der notificationBar*/
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}