html,
body {
    height: 100%;
    position: relative;
}

h2{
    color: #5a6268;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.maintext{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}


.SearchField{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}


div.paypalWrapper {
    align-items: center;
    margin: 0 auto;
    max-width: 780px;
    border: 2px solid grey;
    border-radius: 5px;
    overflow-y: visible;
    outline: none;
}

div.eventForm{
    padding-top: 1rem;
}

div.order-Info{
    margin: 10% 0 10% 5%;
    max-width: 1000px;
    border: 2px solid grey;
    border-radius: 5px;
    overflow-y: visible;
    outline: none;
}

div.uploadBox{
     float: left;
     padding-left: 15%;
 }

div.controls{
    float: right;
    padding-right: 30%;
    text-align: left;
}
div.submitEvent{
    clear: both;
}

div.ratings{
    align-items: center;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8rem;
    background-color: #efefef;
    text-align: center;
}

#carouselExampleIndicators{
    border-top: 3px solid #999999;
    border-bottom: 3px solid #999999;
}
ol.carousel-indicators{
    align-items: center;
    text-align: center;
    height: 1rem;
    width: 7rem;
    margin-left: 47%;
    margin-right: 50%;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: 5px;

}
li.indicator{
    align-items: center;
    text-align: center;
}

img#eventImg{
    border: 3px solid #999999;
    border-radius: 4px;
}

.divider{
    height:0;
    margin: auto;
    overflow: hidden;
    border-top: 1px solid #999999;
}

div.EventContainer p{
    margin: 1% 0 ;
}

.star-rating, .star-rating-overall {
    direction: rtl;
    display: inline-block;
}

.star-rating input[type=radio], .star-rating-overall input[type=radio] {
    display: none
}

.star-rating label, .star-rating-overall label {
    color: #bbb;
    font-size: 48px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label, .star-rating-overall input[type=radio]:checked ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #e65540;

}

.star-rating label:hover,
.star-rating label:hover ~ label{
    text-shadow: 0 0 4px #e65540;
}


@media only screen and (min-width: 1801px) {
    div.EventContainer{
        height: 600px;
        text-align: center;
    }

    div.eventImg{
        float: left;
        margin: 2% 0 0 15% ;
    }

    div.eventInf{
        float: left;
        margin: 2% 0 0 5%;
        text-align: left;
    }
}

@media only screen and (max-width: 1800px) {
    div.EventContainer{
        margin: 3% 0 3% 0;
        text-align: center;
    }

    div.eventImg{
        clear: both;
    }

    div.eventInf{
        clear: both;
        text-align: center;
    }

    div.dropdown-divider{
        margin-left: 25%;
        width: 50%;
    }
}
.main-menu-link {
    display: block;
    transition: all .15s ease-in-out;
    border: 0;
    text-decoration: none;
}

.main-menu-link:hover {
    display: block;
    transform: scale(1.05);
}
