body {
    background-color: lightblue;
    padding: 0px 10% 0px 10%;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.container {
    padding-top: 10%;
}

h1{
    text-align: center;
    color: white;
}

#reg_h1 {
    text-align: left;
    color: white;
}